/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Icomoon
   ========================================================================== */
   
@font-face {
	font-family: 'DPV3';
	src:url('fonts/DPV3.eot?crdhmn');
	src:url('fonts/DPV3.eot?#iefixcrdhmn') format('embedded-opentype'),
		url('fonts/DPV3.woff?crdhmn') format('woff'),
		url('fonts/DPV3.ttf?crdhmn') format('truetype'),
		url('fonts/DPV3.svg?crdhmn#DPV3') format('svg');
	font-weight: normal;
	font-style: bold;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'DPV3';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
	content: "\e600";
}

.icon-info:before {
	content: "\e601";
}

.icon-menu:before {
	content: "\e602";
}

.icon-close:before {
	content: "\ea0f";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-feed:before {
	content: "\ea94";
}

.icon-flickr:before {
	content: "\eaa0";
}


/* ==========================================================================
   AR's custom styles
   ========================================================================== */


$light: #e0e1e2;
$light-confirm: #ebf7fc;
$dark: #272725;
$dark-confirm: #0b3e52;
$hover: #009add;
$active: #eb0c6a;

.desktop-hide {
	display: none;
}

.mobile-hide {
	display: block;
}

#image {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	background: no-repeat center center; 
	background-size: cover !important;
	-webkit-transition: background .4s linear;
	-moz-transition: background .4s linear;
	-o-transition: background .4s linear;
	transition: background .4s linear;
}

.info {
	position: absolute;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: $hover;
	cursor: pointer;
	margin-left: -25px;
	left: 50%;
}

.info:hover {
	background: $dark;
	-webkit-transition: background .4s linear;
	-moz-transition: background .4s linear;
	-o-transition: background .4s linear;
	transition: background .4s linear;
}

.icon-info {
	font-size: 20px;
	color: white;
	margin: 14px 0 0 15px;
}

.icon-close-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 49px;
	cursor: pointer;
	z-index: 5;
}

.light .icon-close {
	font-size: 10px;
	color: $dark;
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -4px;
}

.dark .icon-close {
	font-size: 10px;
	color: $light;
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -4px;
}

.info-overlay-wrapper  {
	position: absolute;
	top: 50%;
	left:50%;
	z-index: 2;
	display: none;
}

#mugshot {
	background: url(../img/mugshot-sm.png) no-repeat;
	width: 100%;
	height: 70px;
	margin-top: 60px;
	margin-left: 70px;
}

.contact-overlay-wrapper .contact-overlay-left h2  {
	margin: 50px 0 1em;
	text-align: left;
	padding-left: 70px;
}

.contact-overlay-wrapper .contact-overlay-left p  {
	text-align: left;
	padding: 0 70px;
}

.contact-overlay-wrapper  {
	position: absolute;
	top: 50%;
	left:50%;
	z-index: 2;
	display: none;
}

.contact-overlay-wrapper-2  {
	margin-left: -400px;
	margin-top: -300px;
	width: 803px;
	height: 600px;
}

.light .contact-overlay-left {
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 400px;
	height: 600px;
	background: white;
	overflow: hidden;
	border: 1px solid $dark;
	border-radius: 5px 0px 0px 5px;
	
	p, h2 {
		color: $dark;
	}
	
	a {
		color: $hover;
	}
	
	.icon-twitter {
		font-size: 200%;
		float: left;
		margin: 50px 0 0 70px;
	}
	
	.info-panel-padding {
		text-align: center;
	}
}

.light .contact-overlay-right {
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 400px;
	height: 600px;
	background: white;
	overflow: hidden;
	border-left: 0px;
	border-top: 1px solid $dark;
	border-right: 1px solid $dark;
	border-bottom: 1px solid $dark;
	border-radius: 0px 5px 5px 0px;
	
	p, h2 {
		color: $dark;
	}
	
	a {
		color: $hover;
	}
	
}

.dark .contact-overlay-left {
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 400px;
	height: 600px;
	background: $dark;
	overflow: hidden;
	border: 1px solid $light;
	border-radius: 5px 0px 0px 5px;
	
	p, h2 {
		color: $light;
	}
	
	a {
		color: $hover;
	}
	
	.icon-twitter {
		font-size: 200%;
		float: left;
		margin: 50px 0 0 70px;
	}
	
	.info-panel-padding {
		text-align: center;
	}
}

.dark .contact-overlay-right {
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 400px;
	height: 600px;
	background: $dark;
	overflow: hidden;
	border-left: 0px;
	border-top: 1px solid $light;
	border-right: 1px solid $light;
	border-bottom: 1px solid $light;
	border-radius: 0px 5px 5px 0px;
	
	p, h2 {
		color: $light;
	}
	
	a {
		color: $hover;
	}
	
}

.dark .contact-overlay {
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 400px;
	height: 600px;
	background: $dark;
	overflow: hidden;
	border: 1px solid $light;
	border-radius: 5px;
	
	p, h2 {
		color: $light;
	}	
	
	a {
		color: $hover;
	}
}


.light .info-overlay {
	margin-left: -200px;
	margin-top: -200px;
	width: 400px;
	height: 400px;
	background: white;
	overflow: hidden;
	border: 1px solid $dark;
	border-radius: 5px;
	
	p, h2 {
		color: $dark;
	}
	
	a {
		color: $hover;
	}
}

.dark .info-overlay {
	margin-left: -200px;
	margin-top: -200px;
	width: 400px;
	height: 400px;
	background: $dark;
	overflow: hidden;
	border: 1px solid $light;
	border-radius: 5px;
	
	p, h2 {
		color: $light;
	}	
	
	a {
		color: $hover;
	}
}

.info-panel-padding {
	padding: 20px;
}

.info-panel-padding-lowercase {
	padding: 20px;
}

.light .info-title {
	background: $light-confirm;
	position: relative;
	padding-right: 50px;
}

.dark .info-title {
	background: $dark-confirm;
	position: relative;
	padding-right: 50px;
}

.light .info-panel-left {
	width: 90px;
	height: 59px;
	float: left;
	border-top: 1px solid $dark;
	background: white;
}

.light .info-panel-right {
	width: 309px;
	height: 59px;
	float: left;
	border-left: 1px solid $dark;
	border-top: 1px solid $dark;
	background: white;
}

.dark .info-panel-left {
	width: 90px;
	height: 59px;
	float: left;
	border-top: 1px solid $light;
	background: $dark;
}

.dark .info-panel-right {
	width: 309px;
	height: 59px;
	float: left;
	border-left: 1px solid $light;
	border-top: 1px solid $light;
	background: $dark;
}

.dark .info-panel-submit {
	width: 100%;
	float: left;
	border-top: 1px solid $light;
	background: $dark;
}

.light .info-panel-submit {
	width: 100%;
	float: left;
	border-top: 1px solid $dark;
	background: white;
}

.float-right {
	float: right;
}

.contact-overlay-wrapper .info-panel-left {
	width: 130px;
}

.contact-overlay-wrapper .info-panel-right {
	width: 269px;
}

.contact-overlay-wrapper .info-panel-right.textarea {
	height: auto;
}

input, textarea {
	width: 100%;
	font-size: 120%;
	outline: 0;
	border: 0;
	padding: 0;
	resize: none;
}

.dark input, .dark textarea {
	padding: 0;
	color: $light;
	background: $dark;
}

.contact-overlay-right h2.button {
	border: 0;
	color: $hover;
	background: none;
	outline: 0;
	cursor: pointer;
}

.contact-overlay-right h2.button:hover {
	color: $active;
	-webkit-transition: color .4s linear;
	-moz-transition: color .4s linear;
	-o-transition: color .4s linear;
	transition: color .4s linear;
}

.light .contact-overlay-right.confirm-bg {
	background: $light-confirm;
} 
	
.dark .contact-overlay-right.confirm-bg {
	background: $dark-confirm;
} 

.info-panel-right.bottom {
	height: 600px;
}

.info-overlay p, .contact-overlay-left p, .contact-overlay-right p {
	margin: 0px !important;
}

.info-overlay p:nth-child(2), .info-overlay p:nth-child(3), .info-overlay p:nth-child(4), .info-overlay p:nth-child(5), .contact-overlay-left p:nth-child(2), .contact-overlay-left p:nth-child(3), .contact-overlay-left p:nth-child(4), .contact-overlay-left p:nth-child(5), .contact-overlay-right p:nth-child(2), .contact-overlay-right p:nth-child(3), .contact-overlay-right p:nth-child(4), .contact-overlay-right p:nth-child(5) {
	margin: 1em 0 0 !important;
}

html {
	font-size: small;
	height: 100%;
}

.light body {
	background: $light url(../img/loader.gif) no-repeat center center;
	margin: 0;
	padding: 3em;
	
}

.dark body {
	background: $dark url(../img/loader-dark.gif) no-repeat center center;
	margin: 0;
	padding: 3em;
}

.light.contact body {
	background: $light;
	margin: 0;
	padding: 3em;
}

.dark.contact body {
	background: $dark;
	margin: 0;
	padding: 3em;
}

#chrome {
	z-index: 1;
	position: absolute;
	top: 0em;
	left: 0em;
	width: 100%;	
	
	#left-side {
		margin: 3em 0 0 3em;
	}

}



a {
	text-decoration: none;
}

a.active {
	color: $active;
}

.contact-overlay-right h2.error {
	color: $active;
}

a.icon-twitter:hover {
	color: $dark !important;
	-webkit-transition: color .4s linear;
	-moz-transition: color .4s linear;
	-o-transition: color .4s linear;
	transition: color .4s linear;
}

.dark a:hover, .light a:hover {
	color: $hover;
	-webkit-transition: color .4s linear;
	-moz-transition: color .4s linear;
	-o-transition: color .4s linear;
	transition: color .4s linear;
}

#get-in-touch {
	cursor: pointer;
	z-index: 3;
}

#get-in-touch:hover {
	color: $hover;
	-webkit-transition: color .4s linear;
	-moz-transition: color .4s linear;
	-o-transition: color .4s linear;
	transition: color .4s linear;
} 

.light h1, .light h2 {
	font-size: 110%;
	text-transform: uppercase;
	font-weight: 700;
	color: $dark;
	margin: 0;
	padding: 0;
	
	a {
		color: $dark;
	}
	
	a.active {
		color: $active;
	}
	
	a:hover {
		color: $hover;
		-webkit-transition: color .4s linear;
		-moz-transition: color .4s linear;
		-o-transition: color .4s linear;
		transition: color .4s linear;
	}
	
}

.dark h1, .dark h2 {
	font-size: 110%;
	text-transform: uppercase;
	font-weight: 700;
	color: $light;
	margin: 0;
	padding: 0;
	
	a {
		color: $light;
	}
	
	a.active {
		color: $active;
	}
	
	a:hover {
		color: $hover;
		-webkit-transition: color .4s linear;
		-moz-transition: color .4s linear;
		-o-transition: color .4s linear;
		transition: color .4s linear;
	} 
	
}

.light p {
	font-size: 120%;
	text-transform: none;
	font-weight: 400;
	color: $dark;
	margin: 1em 0 0;
	
}

.dark p {
	font-size: 120%;
	text-transform: none;
	font-weight: 400;
	color: $light;
	margin: 1em 0 0;
	
}

ul {
	margin: 0;
	padding: 0;
	
	li {
		list-style-type: none;
	}
}

nav {
	margin: 3em 0 0;
	float: left;
	clear: both;
	display: inline;
}

.light .large-logo {
	font-size: 780%;
	color: $dark;
	margin-left: -0.05em;
	margin-top: -0.15em;
	float: left;
	display: inline;
}

.dark .large-logo {
	font-size: 780%;
	color: $light;
	margin-left: -0.05em;
	margin-top: -0.15em;
	float: left;
	display: inline;
}

#logo-text {
	float: left;
	clear: both;
	display: inline;
	margin-top: -0.5em;
}

#copyright {
	float: left;
	clear: both;
	margin: 3em 0 0;
	display: none;
}

#get-in-touch {
	position: absolute;
	top: 4.6em;
	right: 3em;
}

#lockup, #mobile-menu-down {
	float: left;
	clear: both;
	display: inline;
			
}

.light .confirm-bg .info-title {
	border-bottom: 1px solid $dark !important;
}
		
.dark .confirm-bg .info-title {
	border-bottom: 1px solid $light !important;
}
		


/* =============================
   Media Queries
   ============================= */


/* -----------------------------
   Mobile
   ----------------------------- */
   
   @media only screen and (max-width: 720px) {
	   
	   .desktop-hide {
		   display: block;
	   }
	   
	   .mobile-hide {
		   display: none;
	   }
	   
	   #get-in-touch {
		   float: left;
		   clear: both;
		   position: relative;
		   top: auto;
		   right: auto;
	   }
	   
	   .light #get-in-touch-wrapper {
		   background: $light-confirm;
		   width: 100%; 
		   float: left;
		   clear: both;
	   }
	   
	   .dark #get-in-touch-wrapper {
		   background: $dark-confirm;
		   width: 100%;
		   float: left;
		   clear: both; 
	   }
	   
	   .light .mobile-menu {
		   font-size: 300%;
		   width: 50px;
		   margin-top: 3px;
		   color: $dark;
		   right: 0;
		   top: 15px;
		   position: absolute;
		   z-index: 3;
	   }
	   
	   .dark .mobile-menu {
		   font-size: 300%;
		   width: 50px;
		   margin-top: 3px;
		   color: $light;
		   position: absolute;
		   right: 0;
		   top: 15px;
		   z-index: 3;
	   }
	   
	   .mobile-header-wrapper {
		   z-index: 3;
		   position: absolute;
		   top: 0;
		   left: 0;
		   width: 100%;
	   }
	   
	   .light .mobile-header-wrapper.opaque {
		   background: white;
		   border-bottom: 1px solid $dark;
	   }
	   
	   .dark .mobile-header-wrapper.opaque {
		   background: $dark;
		   border-bottom: 1px solid $light;
	   }
	   
	   #chrome #left-side {
		   margin: 0;
		}
		
		#lockup {
			padding: 1em 1em 0.5em;
		}
	   
	   .light .large-logo {
	   		font-size: 500%;	
		}
		
		.dark .large-logo {
	   		font-size: 500%;
	   		
		}
		
		.light #mobile-menu-down {
			position: absolute;
			display: none;
			left: 0;
			width: 100%;
			background: white;
			z-index: 2;
			border-bottom: 1px solid $dark;
			
			nav {
			  width: 100%;
			  
			  li {
					width: 100%;
					border-bottom: 1px solid $dark;
				}
			
			}
			
			h2, h1 {
				padding: 1em;
			} 
			
		}
		
		.dark #mobile-menu-down {
			position: absolute;
			display: none;
			left: 0;
			width: 100%;
			background: $dark;
			z-index: 2;
			border-bottom: 1px solid $light;
			
			nav {
			  width: 100%;
			  
			  li {
					width: 100%;
					border-bottom: 1px solid $light;
				}
			
			}
			
			h2, h1 {
				padding: 1em;
			}
		}
		
		#mobile-menu-down-padding {
			padding: 3em 0 1em;
		}
				
		#logo-text {
			clear: none;
			margin: 0.5em 0 0 1em;
		}

	   
	   .contact-overlay-left .icon-close {
		   top: 20px;
		   margin-top: 0;
	   }
	   
	   .contact-overlay-left .icon-close-wrapper {
		   height: 49px;
	   }
	   	   
	   .info-overlay-wrapper {
			position: absolute;
			top: 0;
			left:0;
			z-index: 2;
		
		}
		
		.light .info-overlay {
			margin-left: 0;
			margin-top: 0;
			width: 100%;
			height: 100%;
			border: 0px;
			border-radius: 0px;
			border-bottom: 1px solid $dark;
		}
		
		.dark .info-overlay {
			margin-left: 0;
			margin-top: 0;
			width: 100%;
			height: 100%;
			border: 0px;
			border-radius: 0px;
			border-bottom: 1px solid $light;
			border-top: 1px solid $light;
			
		}
		
		.light .info-panel-left {
			width: 30%;
			height: 59px;
		}
		
		.light .info-panel-right {
			width: 69.6%;
			height: 59px;
		}
		
		.dark .info-panel-left {
			width: 30%;
			height: 59px;
		}
		
		.dark .info-panel-right {
			width: 69.6%;
			height: 59px;
		}
		
		.info-panel-right.bottom {
			height: 100%;
		}
			
		.contact-overlay-wrapper  {
			position: absolute;
			top: 0;
			left: 0;
		}
		
		.contact-overlay-wrapper-2  {
			margin-left: 0;
			margin-top: 0;
			width: 100%;
			height: auto;
		}
		
		.light .contact-overlay-left {
			width: 100%;
			height: auto;
			overflow: auto;
			border: 0px;
			border-radius: 0px;
			padding-bottom: 70px;
			
			.icon-twitter {
				font-size: 200%;
				float: left;
				margin: 50px 0 0;
			}
			
			.info-panel-padding {
				text-align: center;
			}
		}
		
		.light .contact-overlay-right {
			width: 100%;
			height: auto;
			border-top: 1px solid $dark;
			border-right: 0px;
			border-bottom: 1px solid $dark;
			border-radius: 0px;
		}
		
		.dark .contact-overlay-left {
			width: 100%;
			height: auto;
			overflow: auto;
			border: 0px;
			border-radius: 0px;
			padding-bottom: 70px;
			
			.icon-twitter {
				font-size: 200%;
				float: left;
				margin: 50px 0 0;
			}
			
			.info-panel-padding {
				text-align: center;
			}
		}
		
		.dark .contact-overlay-right {
			width: 100%;
			height: auto;
			border-top: 1px solid $light;
			border-right: 0px;
			border-bottom: 1px solid $light;
			border-radius: 0px;
		}
		
		
		.contact-overlay-wrapper .contact-overlay-left h2 {
			padding: 0;
		}
		
		.contact-overlay-wrapper .contact-overlay-left p {
			padding: 0;
		}
		
		#mugshot {
			background: url(../img/mugshot-sm.png) no-repeat;
			margin-left: 0;
		}
		
		.contact-overlay-right h2.button {
			padding-bottom: 70px;
		}
		
		input, textarea {
			width: 100%;
		}
		
		#mugshot {
			margin-top: 30px;
		}
		





	}
   
   
   /* -----------------------------
   Tablet
   ----------------------------- */

   @media only screen and (min-width: 721px) and (max-width: 880px) {
	   

	.contact-overlay-wrapper .info-panel-left {
			width: 110px;
		}
		
		.contact-overlay-wrapper .info-panel-right {
			width: 239px;
		}	
			
			.contact-overlay-wrapper .contact-overlay-left h2  {
			padding-left: 0;
		}
		
		.contact-overlay-wrapper .contact-overlay-left p  {
			padding: 0;
		}
		
		#mugshot {
					background: url(../img/mugshot-sm.png) no-repeat;
					margin-left: 0;
				}
		
			   
		.contact-overlay-wrapper-2  {
			margin-left: -350px;
			width: 703px;
		}
		
		.light .contact-overlay-left {
			margin-left: 0;
			margin-top: 0;
			width: 350px;
			
			.icon-twitter {
				margin: 50px 0 0 0;
			}
			
		}
		
		.light .contact-overlay-right {
			margin-left: 0;
			margin-top: 0;
			width: 350px;
			
		}
		
		.dark .contact-overlay-left {
			margin-left: 0;
			margin-top: 0;
			width: 350px;
			
			.icon-twitter {
				margin: 50px 0 0 0;
			}
			
		}
		
		.dark .contact-overlay-right {
			margin-left: 0;
			margin-top: 0;
			width: 350px;
		}





	   
   }
   
   
   /* -----------------------------
    @2x
   ----------------------------- */
   
   @media only screen and (-webkit-min-device-pixel-ratio: 2) {
	   
	   .light body {
			background: $light url(../img/loader@2x.gif) no-repeat center center;
			background-size: 30px;
		}
		
		.dark body {
			background: $dark url(../img/loader-dark@2x.gif) no-repeat center center;
			background-size: 30px;
		}
		
		#mugshot {
			background: url(../img/mugshot.png) no-repeat;
			background-size: 70px;
		}

   }





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
