/* HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 13, main.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.9;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 27, main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 32, main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 41, main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/* line 61, main.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 69, main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 79, main.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
/* line 87, main.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 109, main.scss */
.desktop-hide {
  display: none;
}

/* line 113, main.scss */
html {
  font-size: small;
}

/* line 117, main.scss */
h1 {
  margin: 0 0 80px;
  padding: 0;
  font-weight: 600;
  line-height: 1em;
  font-size: 150%;
  float: left;
  clear: both;
  position: relative;
}

/* line 128, main.scss */
h1:before {
  background: #961e63;
  content: "";
  display: block;
  height: 10px;
  width: 38%;
  position: absolute;
  bottom: -30px;
  left: 0;
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
}

/* line 141, main.scss */
h1:after {
  background: #d3d930;
  content: "";
  display: block;
  height: 10px;
  width: 38%;
  float: right;
  position: absolute;
  bottom: -30px;
  right: 0;
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
}

/* line 155, main.scss */
h1 span:after {
  background: #00a79d;
  content: "";
  display: block;
  height: 10px;
  width: 38%;
  float: right;
  position: absolute;
  bottom: -30px;
  left: 31.1%;
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
}

/* line 169, main.scss */
h2 {
  margin: 0 0 30px;
  padding: 0;
  clear: both;
  font-weight: 600;
  line-height: 1em;
  font-size: 150%;
}

/* line 178, main.scss */
p {
  margin: 0 0 20px;
  padding: 0;
  font-weight: 300;
}

/* line 184, main.scss */
a {
  color: #961e63;
  transition: color .3s;
  -webkit-transition: color .3s;
  text-decoration: none;
}

/* line 191, main.scss */
a:hover {
  color: #00a79d;
}

/* line 195, main.scss */
.white-fill {
  fill: white;
}

/* line 199, main.scss */
.logo-sm {
  width: 120px;
  height: 26.4375px;
}

/* line 204, main.scss */
.icon {
  width: 22px;
  height: 22px;
}

/* line 209, main.scss */
header, footer {
  float: left;
  width: 100%;
  color: white;
}
/* line 214, main.scss */
header a, footer a {
  color: white;
  transition: color .3s;
  -webkit-transition: color .3s;
  text-decoration: none;
}
/* line 221, main.scss */
header a:hover, footer a:hover {
  color: #00a79d;
}
/* line 225, main.scss */
header a svg, footer a svg {
  fill: white;
  transition: fill .3s;
  -webkit-transition: fill .3s;
}
/* line 231, main.scss */
header a:hover svg, footer a:hover svg {
  fill: #00a79d;
}

/* line 237, main.scss */
header {
  position: relative;
  text-align: center;
  height: 60px;
  z-index: 3;
}
/* line 243, main.scss */
header menu {
  margin-top: -20px;
}
/* line 247, main.scss */
header ul {
  margin: 0;
  padding: 0;
  height: 60px;
}
/* line 253, main.scss */
header li {
  display: inline-block;
  margin-right: 20px;
  height: 60px;
  line-height: 60px;
}
/* line 260, main.scss */
header li.active a {
  color: #d3d930;
}
/* line 264, main.scss */
header .sub-menu-parent {
  position: relative;
}
/* line 268, main.scss */
header .sub-menu-container {
  position: absolute;
  left: -40px;
  top: 60px;
  width: 400px;
  height: 400px;
  overflow: hidden;
}
/* line 277, main.scss */
header .sub-menu-button {
  height: 60px;
}
/* line 282, main.scss */
header .sub-menu {
  background: #460d2d;
  text-align: left;
  padding: 0 0 30px 40px;
  transition: top .3s;
  -webkit-transition: top .3s;
  height: auto;
  float: left;
  position: absolute;
  top: -200px;
}
/* line 293, main.scss */
header .sub-menu li {
  display: block;
  margin-right: 40px;
  line-height: 1.9em;
  height: auto;
}
/* line 301, main.scss */
header .sub-menu-hover {
  top: 0;
}
/* line 305, main.scss */
header .social-icons {
  position: absolute;
  top: 9px;
  right: 20px;
}
/* line 310, main.scss */
header .social-icons a {
  margin-right: 10px;
  float: left;
}
/* line 316, main.scss */
header .header-logo {
  position: absolute;
  top: 9px;
  left: 20px;
}

/* line 323, main.scss */
li {
  color: white;
  list-style-type: none;
}

/* line 328, main.scss */
.padding {
  padding: 20px;
}

/* line 332, main.scss */
body {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 100;
  background: #460d2d;
  font-size: 160%;
  color: #460d2d;
}

/* line 341, main.scss */
li {
  color: white;
  list-style-type: none;
}

/* line 346, main.scss */
#main {
  width: 100%;
  background: white;
  text-align: center;
  float: left;
  padding: 80px 0;
}

/* line 354, main.scss */
.content {
  max-width: 1200px;
  text-align: left;
  margin: 0 auto;
}
/* line 359, main.scss */
.content ul {
  margin: 0;
  padding: 0;
}
/* line 364, main.scss */
.content li {
  margin: 0 0 0 0;
  padding: 0;
}

/* line 370, main.scss */
#hero-image {
  background: white;
  height: 550px;
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* line 378, main.scss */
#hero-image img {
  height: 95%;
  position: absolute;
  bottom: 0;
  right: 2%;
}
/* line 385, main.scss */
#hero-image .windmill-wrapper {
  width: 60%;
  position: absolute;
  z-index: 2;
}
/* line 391, main.scss */
#hero-image .windmill-logo-container {
  width: 540px;
  text-align: center;
  margin: 15px auto 0;
}
/* line 397, main.scss */
#hero-image .windmill-sail-container {
  position: relative;
}
/* line 402, main.scss */
#hero-image .windmill-sail {
  position: absolute;
  width: 120.5px;
  height: 120px;
  top: 19px;
  left: 60px;
  animation-name: spin;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/* line 414, main.scss */
#hero-image .windmill-logo {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 40px;
}
/* line 426, main.scss */
#hero-image .col-50 {
  position: relative;
}
/* line 432, main.scss */
#hero-image h1 {
  float: none;
  text-align: center;
  width: 540px;
  margin: 0 auto;
}
/* line 439, main.scss */
#hero-image h1:before {
  display: none;
  height: 0;
  width: 0;
}
/* line 445, main.scss */
#hero-image h1:after {
  display: none;
  height: 0;
  width: 0;
}
/* line 452, main.scss */
#hero-image .col-50.left {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
}
/* line 459, main.scss */
#hero-image .col-50.right {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 200px;
}
/* line 466, main.scss */
#hero-image #hero-shape-left {
  background: #961e63;
  width: 130%;
  height: 250px;
  -webkit-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
  -webkit-transform-origin: 100% 100%;
  margin-top: 200px;
  float: right;
}
/* line 479, main.scss */
#hero-image #hero-shape-right {
  background: #961e63;
  width: 130%;
  height: 250px;
  -webkit-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  transform: rotate(-6deg);
  -webkit-transform-origin: 0% 100%;
  margin-top: 200px;
  float: left;
}

/* line 493, main.scss */
#hero-copy {
  background: #961e63;
  color: white;
  min-height: 300px;
  float: left;
  width: 100%;
}
/* line 500, main.scss */
#hero-copy p, #hero-copy li {
  font-weight: 300;
  margin-bottom: 20px;
}
/* line 505, main.scss */
#hero-copy li:before {
  content: "";
  height: 0.9em;
  width: 0.9em;
  margin-left: -1.5em;
  margin-top: 0.4em;
  line-height: 1.9em;
  display: block;
  float: left;
  background: url("../img/tick.svg") no-repeat;
}
/* line 517, main.scss */
#hero-copy .hero-copy-padding-left {
  padding: 80px 60px;
  width: 55%;
  float: right;
}
/* line 523, main.scss */
#hero-copy .hero-copy-padding-right {
  padding: 80px 60px;
  width: 55%;
  float: left;
}

/* line 530, main.scss */
.col-33 {
  width: 33.333%;
  float: left;
  display: inline;
  position: relative;
}
/* line 536, main.scss */
.col-33 img {
  width: 100%;
  margin-top: 5.5em;
}
/* line 541, main.scss */
.col-33 .border-left {
  background: #961e63;
  content: "";
  display: block;
  height: 30px;
  width: 33%;
  position: absolute;
  bottom: -10px;
  left: 20px;
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
}
/* line 554, main.scss */
.col-33 .border-right {
  background: #d3d930;
  content: "";
  display: block;
  height: 30px;
  width: 33%;
  float: right;
  position: absolute;
  bottom: -10px;
  right: 20px;
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
}
/* line 568, main.scss */
.col-33 .border-centre {
  background: #00a79d;
  content: "";
  display: block;
  height: 30px;
  width: 33%;
  float: right;
  position: absolute;
  bottom: -10px;
  left: 33.4%;
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
}

/* line 584, main.scss */
.col-50 {
  width: 50%;
  float: left;
  display: inline;
}

/* line 590, main.scss */
.col-66 {
  width: 66.666%;
  float: left;
  display: inline;
}

/* line 596, main.scss */
#blog-posts {
  float: left;
  width: 100%;
  background: #961e63;
  padding: 20px 0 15px 0;
}
/* line 602, main.scss */
#blog-posts a {
  color: white;
}
/* line 606, main.scss */
#blog-posts a:hover {
  color: #00a79d;
}
/* line 610, main.scss */
#blog-posts .padding {
  padding: 20px 20px 0;
}

/* line 616, main.scss */
.blog-promo-header {
  margin: 20px 20px 0;
  color: #d3d930;
}

/* line 621, main.scss */
footer {
  margin: 20px 0;
}
/* line 624, main.scss */
footer .col-3 {
  padding: 20px 0 20px;
}
/* line 628, main.scss */
footer a {
  color: #00a79d;
}
/* line 632, main.scss */
footer a:hover {
  color: #c5eae6;
}
/* line 638, main.scss */
footer .social-icons a {
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
}
/* line 645, main.scss */
footer .btt-icon {
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
}
/* line 651, main.scss */
footer .back-to-top {
  cursor: pointer;
  transition: color .3s;
  -webkit-transition: color .3s;
  color: #00a79d;
  line-height: 1.8em;
}
/* line 659, main.scss */
footer .back-to-top:hover {
  color: #c5eae6;
}
/* line 663, main.scss */
footer .icon {
  width: 37px;
  height: 37px;
  float: left;
  fill: #00a79d;
  transition: fill .3s;
  -webkit-transition: fill .3s;
}
/* line 672, main.scss */
footer .icon:hover {
  fill: #c5eae6;
}
/* line 676, main.scss */
footer .copyright {
  margin-top: 5.3em;
  font-size: 78%;
}

@keyframes spin {
  /* line 685, main.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 688, main.scss */
  to {
    transform: rotate(360deg);
  }
}

/* =============================
   Media Queries
   ============================= */
@media only screen and (max-width: 1080px) {
  /* line 706, main.scss */
  #hero-image .windmill-logo-container {
    width: 440px;
  }

  /* line 710, main.scss */
  #hero-image h1 {
    width: 440px;
  }

  /* line 714, main.scss */
  #hero-image .windmill-sail {
    width: 120.5px;
    height: 120px;
    top: 19px;
    left: 37px;
  }
}
@media only screen and (max-width: 980px) {
  /* line 724, main.scss */
  #hero-image .windmill-logo-container {
    width: 340px;
  }

  /* line 728, main.scss */
  #hero-image h1 {
    width: 440px;
  }

  /* line 732, main.scss */
  #hero-image img {
    right: -8%;
  }

  /* line 736, main.scss */
  #hero-image .windmill-sail {
    width: 81.5px;
    height: 81px;
    top: 46px;
  }
}
@media only screen and (max-width: 880px) {
  /* line 745, main.scss */
  #hero-image .windmill-logo-container {
    width: 340px;
  }

  /* line 749, main.scss */
  #hero-image h1 {
    width: 440px;
  }

  /* line 753, main.scss */
  #hero-image img {
    height: 80%;
    right: -14%;
  }
}
/* -----------------------------
   Mobile
   ----------------------------- */
@media only screen and (max-width: 680px) {
  /* line 768, main.scss */
  body {
    font-size: 140%;
  }

  /* line 772, main.scss */
  h1, h2 {
    font-size: 135%;
  }

  /* line 776, main.scss */
  .desktop-hide {
    display: block;
  }

  /* line 780, main.scss */
  .mobile-hide {
    display: none;
  }

  /* line 784, main.scss */
  header {
    position: relative;
    text-align: center;
    height: 60px;
  }
  /* line 789, main.scss */
  header .padding {
    padding: 0;
  }
  /* line 793, main.scss */
  header menu {
    margin: 60px 0 0;
    padding: 0 0 30px;
    position: absolute;
    background: #460d2d;
    width: 100%;
    z-index: 1;
  }
  /* line 802, main.scss */
  header ul {
    margin: 0;
    padding: 0;
    height: auto;
  }
  /* line 808, main.scss */
  header li {
    display: block;
    margin-right: 0;
    height: auto;
    line-height: 1.9em;
    border-bottom: 0px solid;
    padding: 5px 0;
  }
  /* line 817, main.scss */
  header li.active a {
    color: #d3d930;
  }
  /* line 821, main.scss */
  header .sub-menu-parent {
    position: relative;
  }
  /* line 824, main.scss */
  header .sub-menu-parent li {
    background: #681c47;
  }
  /* line 829, main.scss */
  header .sub-menu-container {
    position: relative;
    width: auto;
    height: auto;
    overflow: visible;
    left: auto;
    top: auto;
  }
  /* line 838, main.scss */
  header .sub-menu-button {
    height: auto;
    border-bottom: 0px solid #a38686;
  }
  /* line 843, main.scss */
  header .sub-menu {
    background: #460d2d;
    text-align: center;
    padding: 0;
    height: auto;
    float: none;
    position: relative;
    top: auto;
    display: none;
  }
  /* line 853, main.scss */
  header .sub-menu li {
    display: block;
    margin: 5px 0;
    line-height: 1.9em;
    height: auto;
    border-bottom: 0;
  }
  /* line 862, main.scss */
  header .sub-menu-hover {
    top: 0;
  }
  /* line 866, main.scss */
  header .sub-menu-clicked {
    display: block;
  }
  /* line 870, main.scss */
  header .sub-menu-button-clicked {
    color: white;
  }
  /* line 874, main.scss */
  header .social-icons {
    display: none;
  }
  /* line 878, main.scss */
  header .menu-button {
    float: right;
    line-height: 60px;
    margin-right: 20px;
    cursor: pointer;
    transition: color .3s;
    -webkit-transition: color .3s;
  }
  /* line 886, main.scss */
  header .menu-button svg {
    fill: white;
    transition: fill .3s;
    -webkit-transition: fill .3s;
    width: 36px;
    margin-left: 10px;
    margin-top: -2px;
  }
  /* line 896, main.scss */
  header .menu-button:hover {
    color: white;
  }
  /* line 899, main.scss */
  header .menu-button:hover svg {
    fill: white;
  }

  /* line 907, main.scss */
  .col-33, .col-66, .col-50 {
    width: 100%;
  }

  /* line 913, main.scss */
  .col-33 .border-left {
    left: 0;
    width: 38%;
  }
  /* line 918, main.scss */
  .col-33 .border-right {
    right: 0;
    width: 38%;
  }
  /* line 923, main.scss */
  .col-33 .border-centre {
    width: 38%;
    left: 30.8%;
  }
  /* line 928, main.scss */
  .col-33 img {
    margin-top: 0;
  }

  /* line 933, main.scss */
  #hero-copy .hero-copy-padding-left {
    padding: 60px 20px 40px;
    width: auto;
    float: left;
  }

  /* line 939, main.scss */
  #hero-copy .hero-copy-padding-right {
    padding: 0 20px 60px 55px;
    width: auto;
    float: left;
  }

  /* line 945, main.scss */
  #hero-image {
    height: auto;
  }
  /* line 948, main.scss */
  #hero-image .windmill-wrapper {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-top: -50px;
  }
  /* line 955, main.scss */
  #hero-image .windmill-logo-container {
    width: 100%;
  }
  /* line 959, main.scss */
  #hero-image h1 {
    width: 100%;
    text-align: left;
  }
  /* line 964, main.scss */
  #hero-image img {
    height: auto;
    width: 78%;
    position: relative;
    margin-top: -40px;
  }
  /* line 971, main.scss */
  #hero-image .windmill-sail {
    width: 63%;
    top: 47px;
    height: -3%;
    left: -9%;
  }

  /* line 993, main.scss */
  #hero-image
  .mob-img-padding {
    padding: 20px 0;
  }

  /* line 997, main.scss */
  #blog-posts {
    padding: 40px 0 60px 0;
  }
  /* line 1000, main.scss */
  #blog-posts .blog-promo-header {
    margin: 20px 20px 0;
  }
  /* line 1004, main.scss */
  #blog-posts h2 {
    margin: 20px 0 0;
  }

  /* line 1009, main.scss */
  footer {
    margin: 40px 0;
  }
  /* line 1012, main.scss */
  footer .col-33 {
    padding: 0;
  }
  /* line 1016, main.scss */
  footer .copyright {
    margin-top: 40px;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
/* line 1033, main.scss */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
/* line 1042, main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/* line 1060, main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
/* line 1073, main.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 1090, main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 1095, main.scss */
.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  /* line 1127, main.scss */
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 1136, main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 1140, main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 1144, main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  /* line 1154, main.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 1159, main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  /* line 1169, main.scss */
  thead {
    display: table-header-group;
  }

  /* line 1174, main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 1178, main.scss */
  img {
    max-width: 100% !important;
  }

  /* line 1184, main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 1190, main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
