/* HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 13, main.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.9;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 27, main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 32, main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 41, main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/* line 61, main.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 69, main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 79, main.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
/* line 87, main.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 109, main.scss */
.desktop-hide {
  display: none;
}

/* line 113, main.scss */
html {
  font-size: small;
}

/* line 117, main.scss */
.white-fill {
  fill: white;
}

/* line 121, main.scss */
.logo-sm {
  width: 120px;
  height: 26.4375px;
}

/* line 126, main.scss */
.icon {
  width: 22px;
  height: 22px;
}

/* line 131, main.scss */
header, footer {
  float: left;
  width: 100%;
  color: white;
}
/* line 136, main.scss */
header a, footer a {
  color: white;
  transition: color .3s;
  -webkit-transition: color .3s;
  text-decoration: none;
}
/* line 143, main.scss */
header a:hover, footer a:hover {
  color: #00a79d;
}
/* line 147, main.scss */
header a svg, footer a svg {
  fill: white;
  transition: fill .3s;
  -webkit-transition: fill .3s;
}
/* line 153, main.scss */
header a:hover svg, footer a:hover svg {
  fill: #00a79d;
}

/* line 159, main.scss */
header {
  position: relative;
  text-align: center;
  height: 80px;
}
/* line 164, main.scss */
header menu {
  margin-top: -20px;
}
/* line 168, main.scss */
header ul {
  margin: 0;
  padding: 0;
  height: 80px;
}
/* line 174, main.scss */
header li {
  display: inline-block;
  margin-right: 20px;
  height: 80px;
  line-height: 80px;
}
/* line 181, main.scss */
header li.active a {
  color: #d3d930;
}
/* line 185, main.scss */
header .sub-menu-parent {
  position: relative;
}
/* line 189, main.scss */
header .sub-menu-container {
  position: absolute;
  left: -40px;
  top: 80px;
  width: 400px;
  height: 400px;
  overflow: hidden;
}
/* line 198, main.scss */
header .sub-menu-button {
  height: 80px;
}
/* line 203, main.scss */
header .sub-menu {
  background: #460d2d;
  text-align: left;
  padding: 0 0 30px 40px;
  transition: top .3s;
  -webkit-transition: top .3s;
  height: auto;
  float: left;
  position: absolute;
  top: -200px;
}
/* line 214, main.scss */
header .sub-menu li {
  display: block;
  margin-right: 40px;
  line-height: 1.9em;
  height: auto;
}
/* line 222, main.scss */
header .sub-menu-hover {
  top: 0;
}
/* line 226, main.scss */
header .social-icons {
  position: absolute;
  top: 20px;
  right: 20px;
}
/* line 231, main.scss */
header .social-icons a {
  margin-right: 10px;
  float: left;
}
/* line 237, main.scss */
header .header-logo {
  position: absolute;
  top: 17px;
  left: 20px;
}

/* line 244, main.scss */
li {
  color: white;
  list-style-type: none;
}

/* line 249, main.scss */
.padding {
  padding: 20px;
}

/* line 253, main.scss */
.column-1 {
  max-width: 1200px;
}

/* line 257, main.scss */
body {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 100;
  background: #460d2d;
  font-size: 160%;
}

/* line 265, main.scss */
h1 {
  font-weight: 700;
}

/* line 269, main.scss */
li {
  color: white;
  list-style-type: none;
}

/* line 274, main.scss */
#main {
  width: 100%;
  background: white;
  text-align: center;
  float: left;
}

/* line 281, main.scss */
.content {
  max-width: 1200px;
  text-align: left;
  margin: 0 auto;
}

/* line 287, main.scss */
.col-3 {
  width: 33.333%;
  float: left;
  display: inline;
}

/* line 295, main.scss */
footer .col-3 {
  padding: 20px 0 20px;
}
/* line 299, main.scss */
footer a {
  color: #00a79d;
}
/* line 303, main.scss */
footer a:hover {
  color: #c5eae6;
}
/* line 309, main.scss */
footer .social-icons a {
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
}
/* line 316, main.scss */
footer .btt-icon {
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
}
/* line 322, main.scss */
footer .back-to-top {
  cursor: pointer;
  transition: color .3s;
  -webkit-transition: color .3s;
  color: #00a79d;
  line-height: 1.8em;
}
/* line 330, main.scss */
footer .back-to-top:hover {
  color: #c5eae6;
}
/* line 334, main.scss */
footer .icon {
  width: 37px;
  height: 37px;
  float: left;
  fill: #00a79d;
  transition: fill .3s;
  -webkit-transition: fill .3s;
}
/* line 343, main.scss */
footer .icon:hover {
  fill: #c5eae6;
}
/* line 347, main.scss */
footer .copyright {
  margin-top: 5.3em;
  font-size: 78%;
}

/* =============================
   Media Queries
   ============================= */
/* -----------------------------
   Mobile
   ----------------------------- */
@media only screen and (max-width: 680px) {
  /* line 366, main.scss */
  .desktop-hide {
    display: block;
  }

  /* line 370, main.scss */
  .mobile-hide {
    display: none;
  }

  /* line 374, main.scss */
  header {
    position: relative;
    text-align: center;
    height: 80px;
  }
  /* line 379, main.scss */
  header .padding {
    padding: 0;
  }
  /* line 383, main.scss */
  header menu {
    margin: 80px 0 0;
    padding: 0 0 30px;
    position: absolute;
    background: #460d2d;
    width: 100%;
  }
  /* line 391, main.scss */
  header ul {
    margin: 0;
    padding: 0;
    height: auto;
  }
  /* line 397, main.scss */
  header li {
    display: block;
    margin-right: 0;
    height: auto;
    line-height: 1.9em;
    border-bottom: 0px solid;
    padding: 5px 0;
  }
  /* line 406, main.scss */
  header li.active a {
    color: #d3d930;
  }
  /* line 410, main.scss */
  header .sub-menu-parent {
    position: relative;
  }
  /* line 413, main.scss */
  header .sub-menu-parent li {
    background: #681c47;
  }
  /* line 418, main.scss */
  header .sub-menu-container {
    position: relative;
    width: auto;
    height: auto;
    overflow: visible;
    left: auto;
    top: auto;
  }
  /* line 427, main.scss */
  header .sub-menu-button {
    height: auto;
    border-bottom: 0px solid #a38686;
  }
  /* line 432, main.scss */
  header .sub-menu {
    background: #460d2d;
    text-align: center;
    padding: 0;
    height: auto;
    float: none;
    position: relative;
    top: auto;
    display: none;
  }
  /* line 442, main.scss */
  header .sub-menu li {
    display: block;
    margin: 5px 0;
    line-height: 1.9em;
    height: auto;
    border-bottom: 0;
  }
  /* line 451, main.scss */
  header .sub-menu-hover {
    top: 0;
  }
  /* line 455, main.scss */
  header .sub-menu-clicked {
    display: block;
  }
  /* line 459, main.scss */
  header .sub-menu-button-clicked {
    color: white;
  }
  /* line 463, main.scss */
  header .social-icons {
    display: none;
  }
  /* line 467, main.scss */
  header .menu-button {
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    transition: color .3s;
    -webkit-transition: color .3s;
  }
  /* line 475, main.scss */
  header .menu-button svg {
    fill: white;
    transition: fill .3s;
    -webkit-transition: fill .3s;
    width: 36px;
    margin-left: 10px;
    margin-top: -2px;
  }
  /* line 485, main.scss */
  header .menu-button:hover {
    color: white;
  }
  /* line 488, main.scss */
  header .menu-button:hover svg {
    fill: white;
  }

  /* line 496, main.scss */
  .col-3 {
    width: 100%;
  }

  /* line 500, main.scss */
  footer {
    margin: 40px 0;
  }
  /* line 503, main.scss */
  footer .col-3 {
    padding: 0;
  }
  /* line 507, main.scss */
  footer .copyright {
    margin-top: 40px;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
/* line 527, main.scss */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
/* line 536, main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/* line 554, main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
/* line 567, main.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 584, main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 589, main.scss */
.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  /* line 621, main.scss */
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 630, main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 634, main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 638, main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  /* line 648, main.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 653, main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  /* line 663, main.scss */
  thead {
    display: table-header-group;
  }

  /* line 668, main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 672, main.scss */
  img {
    max-width: 100% !important;
  }

  /* line 678, main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 684, main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
